/* CSS Document */
TH {
	color: #C71585;
	background-color: linen;
	border-width: 2px ;
	border-style: solid;
	border-color: linen;
	font-size: 10pt; 
}
TD {
	color: #C71585;
	background-color: linen;
	border-width: 2px;
	border-style: solid;
	border-color: linen;
	font-size: 9pt;
}